# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Environment
.env
instance/

# Logs
*.log

# Node / React
exercise-web/node_modules/
exercise-web/build/

# IDE / OS
.vscode/
.idea/
.DS_Store
